@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.center__site {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  background: #fff;
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

.top__container {
  width: 1600px;
  margin: 0 auto;
}

.head__navbar {
  background-color: #222;
  height: 75px;
  display: flex;
  justify-content: space-between;
}

.head__navbar button {
  background-color: #222;
  border: none;
  cursor: pointer;
}

/* hamburger */
#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__box {
  right: 0 !important;
}

.menu__btn {
  position: relative;
  z-index: 20;
  padding-right: 25px;
  cursor: pointer;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 32px;
  height: 3px;
  background-color: #e8e8e8;
  transition-duration: 0.25s;
}

.menu__btn > span {
  margin-top: -5px;
}

.menu__btn > span::before {
  content: "";
  top: -10px;
}

.menu__btn > span::after {
  content: "";
  top: 10px;
}

.menu__box {
  display: flex;
  position: absolute;
  flex-direction: column;
  top: 75px;
  right: -100%;
  width: 232px;
  height: 634px;
  margin: 0;
  margin-right: calc(50% - 1140px + 340px);
  padding-top: 32px;
  padding-left: 33px;
  list-style: none;
  background-color: #fff;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  transition: right 0.5s ease-in-out;
  z-index: 10;
}

.menu__box h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}

.menu__box h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #f16d7f;
  padding-top: 20px;
}

.menu__item {
  display: block;
  padding-left: 20px;
  padding-top: 12px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
  transition-duration: 0.25s;
}

/* end hamburger */
.logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 111px;
  padding-top: 18px;
  padding-bottom: 19px;
}

.head__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 159px;
  padding-top: 26px;
  padding-bottom: 20px;
}

.head__title {
  background-color: #f1e4e6;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 764px;
}

.image {
  min-width: 801px;
}

.right__side__head {
  display: flex;
  flex-direction: row;
  margin-left: 63px;
  margin-top: 290px;
  margin-bottom: 381px;
  margin-right: 331px;
  width: 405px;
  height: 93px;
}

.rectangle {
  background-color: #f16d7f;
  width: 12px;
  height: 92px;
  margin-right: 16px;
}

.text {
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 1;
  color: #222222;
}

span.h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
}

span.h2pink {
  color: #f16d7f;
}

.top__cards {
  display: grid;
  height: 470px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
  margin-top: 65px;
}

.top__card {
  position: relative;
  text-align: center;
  cursor: pointer;
}

.top__card__big {
  grid-area: 2/1/3/4;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(33, 22, 22, 0.7);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.centered h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #fff;
}

.centered h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #f16d7f;
}

.products {
  margin-top: 96px;
}

.main__title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__title h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #222;
}

.main__title p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #9f9f9f;
  margin-top: 6px;
}

.all__cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
  margin-top: 48px;
}

.product__card {
  display: flex;
  flex-direction: column;
}

/*--product card hover image --*/
.prod__image_cont {
  position: relative;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.prod__image_cont:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0);
}

.prod__image_cont:hover::before {
  background: rgba(58, 56, 56, 0.86);
}

.prod__image_cont img {
  display: block;
}

.prod__image_cont .btn {
  width: 138px;
  height: 43px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  opacity: 0;
  background: none;
  border: 1px solid #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
}

.prod__image_cont:hover button {
  opacity: 1;
  cursor: pointer;
}

/*----*/
.card__text {
  background-color: #f8f8f8;
  padding-left: 16px;
  padding-right: 29px;
}

.card__text h3 {
  padding-top: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000;
}

.card__text p {
  margin-top: 12.6px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5d5d5d;
}

.card__text h4 {
  margin-top: 18px;
  padding-bottom: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
}

.all__prod__button {
  margin-top: 48px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.all__prod__button button {
  width: 211px;
  height: 47px;
  border: 1px solid #ff6a6a;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #f26376;
  background: none;
  cursor: pointer;
}

.all__prod__button button:hover {
  color: #fff;
  background: #f16d7f;
}

.main__bottom {
  margin: 0 auto;
  align-items: center;
}

.footer__info {
  height: 341px;
  width: 1600px;
  margin: auto;
  background: #222224;
  margin-top: 95px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}

.footer__info__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 103px;
  width: 360px;
  height: 133px;
  justify-content: space-between;
}

.footer__info__card h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
}

.footer__info__card p {
  font-style: normal;
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
}

.footer__subscribe {
  height: 448px;
  width: 1600px;
  background-image: url(./img/subscribe.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

.footer__blur {
  background: rgba(244, 244, 244, 0.7);
  height: 448px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 223px;
}

.footer__subscribe__info {
  width: 360px;
  height: 225px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.footer__subscribe__info p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
  height: 99px;
}

.footer__subsc_subsc {
  width: 557px;
  height: 142px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.footer__subsc_subsc__text {
  text-align: center;
}

.footer__subsc_subsc__text h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  color: #222224;
}

.footer__subsc_subsc__text p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #222224;
}

.footer__subsc__form__btn form {
  width: 356px;
  height: 49px;
  display: flex;
  justify-content: center;
}

.footer__subsc__form__btn input {
  width: 256px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: #222224;
  opacity: 0.67;
  background: #E1E1E1;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding-left: 22px;
  border: none;
}

.footer__subsc__form__btn button {
  width: 100px;
  height: 49px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  background: #f16d7f;
  cursor: pointer;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  vertical-align: middle;
  padding-left: 20px;
  border: none;
}

.footer__navbar {
  height: 79px;
  width: 1600px;
  margin: 0 auto;
  align-items: center;
  background: #222224;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.footer__navbar p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
  margin-left: 235px;
}

.footer__navbar__icons {
  width: 148px;
  height: 32px;
  display: flex;
  justify-content: space-between;
  margin-right: 230px;
}

.footer__navbar__icons a {
  display: flex;
  font-size: 20px;
  align-items: center;
  justify-content: center;
}

.fa {
  width: 31px;
  height: 32px;
  background: #FFFFFF;
  color: #000000;
}

.fa:hover {
  background: #f16d7f;
  color: #FFFFFF;
}

/* Страница Catalog.html */
.head__container {
  display: flex;
  justify-content: space-between;
  height: 148px;
  margin-bottom: 51px;
  color: #F8F3F4;
}
.head__container h3 {
  color: #f16d7f;
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
}
.head__container .head__breadcrumbs {
  display: flex;
  align-items: center;
  margin: 0;
}
.head__container .head__breadcrumbs .head__bredcrumbs__link {
  color: #636363;
  font-size: 14px;
  line-height: 19px;
  text-decoration: none;
}
.head__container .head__breadcrumbs .head__bredcrumbs__link-new {
  color: #f16d7f;
  font-size: 14px;
  line-height: 19px;
  text-decoration: none;
}
.head__container .head__breadcrumbs .pipe {
  margin: 0 8px;
  color: #636363;
}
.head__container .head__breadcrumbs .head__bredcrumbs__link:hover {
  text-decoration: underline;
}
.head__container .head__breadcrumbs .head__bredcrumbs__link-new {
  font-weight: bold;
}
.head__container .head__breadcrumbs li {
  display: inline;
}

.dropdown__filter__block {
  display: flex;
  justify-content: flex-start;
  padding-left: 185px;
  margin-bottom: 64px;
}

.filter__block {
  display: flex;
  justify-content: center;
  padding-right: 320px;
  position: relative;
}

.filter {
  width: 360px;
  position: absolute;
  box-sizing: border-box;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown .dropbtn {
  background-color: #fff;
  color: #6F6E6E;
  padding: 10px 20px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.dropdown .dropbtn.arrow {
  margin-left: 28px;
}
.dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 12px 16px;
}
.dropdown .dropdown-content p, .dropdown .dropdown-content .size-btn {
  color: black;
  padding: 8px 12px;
  text-decoration: none;
  display: block;
  cursor: pointer;
  border: none;
  background: none;
  text-align: left;
}
.dropdown .dropdown-content p:hover, .dropdown .dropdown-content .size-btn:hover {
  background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
  display: block;
}

.all__cards__catalog {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 30px;
}

.product__card__catalog {
  display: flex;
  flex-direction: column;
}

.centerman {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: #F7E4E2;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 48px;
  padding: 15px 16px;
}
.pagination .pagination__all__links {
  display: flex;
  align-items: center;
  gap: 8px;
}
.pagination .pagination__all__links .pagination__link {
  padding: 8px 16px;
  text-decoration: none;
  color: #f16d7f;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: all 0.3s;
}
.pagination .pagination__all__links .pagination__link:hover {
  background-color: #f16d7f;
  color: #fff;
}
.pagination .pagination__all__links .pagination__link.active {
  background-color: #f16d7f;
  color: white;
  border: 1px solid #f16d7f;
}

@media (max-width: 1024px) {
  .container {
    width: 736px;
  }
  .top__container {
    width: 768px;
  }
  .image {
    min-width: 386px;
  }
  .logo {
    margin-left: 32px;
  }
  .head__buttons {
    margin-right: 32px;
  }
  .head__title {
    height: 368px;
  }
  .right__side__head {
    display: flex;
    flex-direction: row;
    margin-left: 39px;
    margin-top: 138px;
    margin-bottom: 138px;
    margin-right: 33px;
    height: 92px;
    width: 311px;
  }
  .text {
    font-size: 44px;
    line-height: 0.9;
  }
  span.h2 {
    font-size: 24px;
    line-height: 28px;
  }
  .top__cards {
    gap: 20px;
    height: 303px;
  }
  .main__title {
    margin-top: 110px;
    margin-bottom: 73px;
  }
  .main__title p {
    margin-top: 3px;
  }
  .all__cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
  }
  .all__prod__button {
    margin-top: 32px;
    margin-bottom: 64px;
  }
  .footer__info {
    height: 610px;
    width: 768px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48;
    margin-top: 65px;
  }
  .footer__info__card {
    margin: 0 auto;
  }
  .footer__subscribe {
    height: 693px;
    width: 768px;
    background-image: url(./img/subscribe_tablet.png);
    background-size: cover;
    margin: 0 auto;
  }
  .footer__blur {
    height: 693px;
    display: flex;
    flex-direction: column;
    gap: 48px;
    justify-content: center;
    align-items: center;
  }
  .footer__navbar {
    width: 768px;
  }
  .footer__navbar p {
    margin-left: 32px;
  }
  .footer__navbar__icons {
    margin-right: 32px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .container {
    width: 359px;
  }
  .top__container {
    width: 375px;
  }
  .image {
    display: none;
  }
  .logo {
    margin-left: 16px;
  }
  .head__buttons {
    width: 32px;
    margin-right: 16px;
    overflow-x: hidden;
  }
  .right__side__head {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 148px 56px 149px;
    width: 236px;
    height: 66px;
  }
  .rectangle {
    height: 61px;
    margin-right: 15px;
  }
  .text {
    padding-top: 6px;
    font-size: 38px;
    line-height: 0.7;
  }
  span.h2 {
    font-size: 20px;
    line-height: 24px;
  }
  .top__cards {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 64px;
    width: 343px;
    gap: 32px;
    height: auto;
    margin: auto;
  }
  .top__card__big {
    grid-area: 4/1/5/2;
    height: 111px;
  }
  .top__card__big img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .products {
    margin-top: 64px;
  }
  .all__cards {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 64px;
  }
  .all__prod__button {
    margin-top: 41px;
  }
  .footer__info {
    width: 375px;
    gap: 46px;
  }
  .footer__subscribe {
    height: 550px;
    width: 375px;
  }
  .footer__blur {
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 48px;
  }
  .footer__navbar {
    width: 375px;
    height: 143px;
    flex-direction: column-reverse;
  }
  .footer__navbar p {
    margin-left: 0px;
    margin-bottom: 9px;
  }
  .footer__navbar__icons {
    margin-right: 0px;
    margin-top: 43px;
  }
  .footer__subscribe__info {
    width: 343px;
    height: 194px;
    justify-content: space-between;
  }
  .footer__subscribe__info p {
    height: 73px;
    font-size: 18px;
  }
  .footer__subsc_subsc {
    width: 341px;
    height: 123px;
  }
  .footer__subsc_subsc__text {
    text-align: center;
  }
  .footer__subsc_subsc__text h2 {
    line-height: 36px;
  }
  .footer__subsc_subsc__text p {
    font-size: 14px;
    line-height: 22px;
  }
  .footer__subsc__form__btn form {
    width: 341px;
    height: 47px;
  }
  .footer__subsc__form__btn input {
    width: 245px;
  }
  .footer__subsc__form__btn button {
    width: 96px;
    height: 47px;
  }
}/*# sourceMappingURL=style.css.map */